<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.group14_vaccinationapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_vaccine"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group14_VaccinationApp">
        <activity android:name=".UserManagement"></activity>
        <activity android:name=".MainActivityAdmin" />
        <activity android:name=".AdminUpdateDelete" />
        <activity android:name=".AdminCreateUser" />
        <activity android:name=".Login" />
        <activity android:name=".Videos" />
        <activity android:name=".VaccinationConfirmed" />
        <activity android:name=".getOTP" />
        <activity android:name=".FAQs" />
        <activity android:name=".VaccineRegisStatus" />
        <activity android:name=".PersonalHealthcare" />
        <activity android:name=".RegistrationSuccess" />
        <activity android:name=".Registration" />
        <activity android:name=".Quiz" />
        <activity android:name=".DeclarationVaccine" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Group14_VaccinationApp.NoActionBar" />
        <activity android:name=".CovidWebsite" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VaccinationMenu"
            android:label="@string/vaccination" />
        <activity android:name=".SelectVaccine" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>